.nav {
    height: 60px;
    padding: 20px;
    border-bottom: 2px solid rgb(116, 116, 255, 0.3);
    display: flex;
    justify-content: space-between;
    background-image: url(https://img.freepik.com/free-photo/soft-cloudy-is-gradient-pastel-abstract-sky-background-sweet-color_6529-1434.jpg?w=740);
    background-repeat: no-repeat;
    background-size: 1366px 62px;
}   

div p {
    font-size: 18px;
    margin-left: 30px;
    margin-right: 10px;
}

div input {
    margin-left: 30px;
    height: 25px;
    border: none;
    border-bottom: 2px solid black;
    background: none;
}

div input::placeholder{
    color: rgb(97, 97, 97);
    padding-left: 5px;
}

div input:focus{
    background-color: aqua;
}



.fl{
    display: inherit; 
}